body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #212529;
    background: #fff url(../images/header-bg.svg) top left no-repeat;
    /* background-color: #fff; */
}

/* navbar start */

header nav {
    background-color: #120e2700;
}
/* remember */
header nav ul.navbar-nav li.dropdown .dropdown-menu.navbarHoverBlock{
    z-index: -1;
    display: block;
    transform: translateY(-30px);
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

/* important */

header nav ul.navbar-nav li.dropdown:hover .dropdown-menu.navbarHoverBlock{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

header .navbar {
    height: 80px;
    position: fixed;
    transition: all .3s;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}

header .navbar a.hamburger{
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}

header .navbar .hamburgerIcon span.regular{
    display: block;
    color: #3B566E;
    background-color: #3B566E;
    font-size: 1px;
    width: 30px;
    height: 2px;
    transition: background-color .3s;
}



header .navbar .hamburgerIcon span.before{
    display: block;
    color: #3B566E;
    background-color: #3B566E;
    font-size: 1px;
    width: 25px;
    height: 2px;
    position: absolute;
    bottom: 3px;
    transition: all.3s;
}

header .navbar .hamburgerIcon span.after{
    display: block;
    color: #3B566E;
    background-color: #3B566E;
    font-size: 1px;
    width: 25px;
    height: 2px;
    position: absolute;
    top: 3px;
    transition: all .3s;
}

header .navbar .hamburgerIcon span.regular.active{
    background-color: white;
    transition: all .3s;
}

header .navbar .hamburgerIcon span.after.active{
    transform: rotate(-45deg);
    top: 13px;
    transition: all .3s;
}

header .navbar .hamburgerIcon span.before.active{
    transform: rotate(45deg);
    bottom: 15px;
    transition: all .3s;
}

header .navbar ul {
    margin-left: 80px;
    color: gray;
}

header .navbar ul li {
    color: gray;
    margin-left: 40px;
    margin-right: 40px;
}

header .navbar ul li a {
    text-decoration: none;
    color: #6F8BA4;
}

header .navbar .buttons {
    display: block;
}

header .navbar .buttons .singIn {
    padding: 6px 30px;
    border: 1px solid #1A153A;
    color: #1A153A;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 600;
}

header .navbar .buttons .singIn:hover {
    padding: 6px 30px;
    background: linear-gradient(135deg, #565178 0%, #1A153A 100%);
    ;
    border: 1px solid #1A153A;
    color: white;
}

header .navbar .buttons .singIn:focus {
    box-shadow: none;
}

header .navbar .buttons .singUp {
    padding: 6px 30px;
    border: 1px solid #1A153A;
    background: linear-gradient(135deg, #1A153A 0%, #565178 100%);
    color: white;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
}

header .navbar .buttons .singUp:hover {
    padding: 6px 30px;
    background: white;
    border: 1px solid #1A153A;
    color: #1A153A;
}

header .navbar .buttons .singUp:focus {
    box-shadow: none;
}

header .navbar ul li.nav-item.dropdown .dropdown-menu {
    border-radius: 5px;
    border: none;
    overflow: hidden;
}

header .navbar ul li.nav-item.dropdown {
    position: relative;
}

header .navbar ul li.nav-item.dropdown i {
    position: absolute;
    top: 15px;
    right: -7px;
    font-size: small;
}

header .navbar ul li.nav-item.dropdown .dropdown-menu div.dropdown-divider.my-0.active {
    margin: 0;
    border: transparent;
    transition: all .3s;
}

header .navbar ul li.nav-item.dropdown .dropdown-menu a.dropdown-item {
    transition: all .3s;
}

header .navbar ul li.nav-item.dropdown .dropdown-menu a.dropdown-item:hover {
    background: #f5f5f5;
    padding-left: 30px;
    position: relative;
}

header .navbar ul li.nav-item.dropdown .dropdown-menu a.dropdown-item:hover::after {
    content: "";
    height: 40px;
    width: 3px;
    display: block;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

@media only screen and (max-width: 1024px){
    header .navbar .buttons{
        display: flex;
    }

    header .navbar .buttons .singIn {
        padding: 6px 25px;
        border: 1px solid #1A153A;
        color: #1A153A;
        margin-right: 5px;
        font-size: 12px;
        font-weight: 600;
    }

    header .navbar .buttons .singUp {
        padding: 6px 25px;
        border: 1px solid #1A153A;
        background: linear-gradient(135deg, #1A153A 0%, #565178 100%);
        color: white;
        margin-left: 5px;
        font-size: 12px;
        font-weight: 600;
    }
    
}

@media only screen and (max-width: 812px){
    header .navbar .buttons{
        display: none;
    }

    header .navbar a.hamburger{
        display: flex;
    }
}

@media only screen and (max-width: 768px){
    header .navbar .buttons{
        display: none;
    }

    header .navbar a.hamburger{
        display: flex;
    }
}

@media only screen and (max-width: 375px){
    header .navbar .buttons{
        display: none;
    }
}

@media only screen and (max-width: 375px){
    header .navbar .buttons{
        display: none;
    }

    header .navbar a.hamburger{
        display: flex;
    }
}

/* navbar end */



/* Welcoming start1 */

#Entry .leftSide {
    margin-top: 120px;
}

#Entry .leftSide h3 {
    font-weight: 400;
    font-size: 28px;
    color: #1E3056;
    line-height: 46px;
    margin-bottom: 20px;
}

#Entry .leftSide p {
    font-weight: 400;
    font-size: 16px;
    color: #697BA2;
    line-height: 28px;
    margin-bottom: 40px;
}

#Entry a {
    color: white;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    background-color: #1A153A;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 12px;
}

#Entry a:hover {
    background-color: #120e27;
}

#Entry a:focus {
    box-shadow: none;
}

#Entry .grid-container {
    max-width: 100% !important;
    widows: 300px;
}

#Entry .grid-container .first .image {
    overflow: hidden;
    width: 264px;
    height: 337px;
    border-radius: 5px;
}

#Entry .grid-container .second .image {
    overflow: hidden;
    width: 264px;
    height: 251px;
    border-radius: 5px;
}

#Entry .grid-container .third .image {
    overflow: hidden;
    width: 264px;
    height: 200px;
    border-radius: 5px;
}

#Entry .grid-container .fourth .image {
    overflow: hidden;
    width: 264px;
    height: 372px;
    border-radius: 5px;
}


#Entry .grid-container .first {
    /* grid-area: first; */
    overflow: hidden;
    border-radius: 5px;
    height: 337px;
}

#Entry .grid-container .first img {
    max-width: 100%;
    height: 337px;
    border-radius: 5px;
    object-fit: cover;
}

#Entry .grid-container .second {
    /* grid-area: second; */
    overflow: hidden;
    border-radius: 5px;
}

#Entry .grid-container .second img {
    width: 264px;
    height: 251px;
    border-radius: 5px;
}

#Entry .grid-container .third {
    /* grid-area: third; */
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#Entry .grid-container .third .playIcon {
    cursor: pointer;
    text-align: center;
    height: 70px;
    width: 70px;
    line-height: 81px;
    position: absolute;
    top: 22%;
    left: 38%;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.322);
}

#Entry .grid-container .third .playIcon i {
    font-size: 2rem;
    color: white;
    padding-left: 5px;
}

#Entry .grid-container .third img {
    width: 264px;
    height: 200px;
    border-radius: 5px;
}

#Entry .grid-container .fourth {
    max-height: 286px;
    /* grid-area: fourth; */
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

#Entry .grid-container .fourth img {
    width: 264px;
    height: 286px;
    border-radius: 5px;
}


#Entry .grid-container {
    display: grid;
    grid-template-columns: repeat(2, .75fr);
    grid-template-rows: 1fr .3fr 1.2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#Entry .first {
    grid-area: 1 / 1 / 3 / 2;
}

#Entry .second {
    grid-area: 1 / 2 / 2 / 3;
}

#Entry .third {
    grid-area: 3 / 1 / 4 / 2;
}

#Entry .fourth {
    grid-area: 2 / 2 / 4 / 3;
}

#Entry .grid-container .fourth .afterContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 264px;
    height: 286px;
    border-radius: 5px;
    background-color: #1a153abd;
    color: #fff;
    z-index: 19;
}

#Entry .grid-container .fourth .afterContent .text {
    position: absolute;
    top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 400;
}

#Entry .grid-container img {
    transition: transform .3s;
    object-fit: cover;
}

#Entry .grid-container img:hover {
    transform: scale(1.1);
    object-fit: cover;
}

#Entry .grid-container .fourth .afterContent:hover+img {
    transform: scale(1.1);
}

@media only screen and (max-width: 991px) {



    #Entry .leftSide {
        margin-top: 0;
        text-align: center;
    }

    #Entry .col-lg-5.col-md-12.col-sm-12 {
        text-align: center;
        margin-bottom: 20px;
    }

    #Entry .grid-container {
        margin-top: 30px;
    }

    #Entry .grid-container .first .image {
        width: 340px;
    }

    #Entry .grid-container .first img {
        width: 340px;
        height: 337px;
    }

    #Entry .grid-container .second img {
        width: 340px;
        height: 301px;
    }

    #Entry .grid-container .third img {
        width: 340px;
        height: 301px;
    }

    #Entry .grid-container .third img {
        width: 340px;
        height: 337px;
        overflow: visible
    }

    #Entry .grid-container .fourth {

        width: 340px;
        max-height: 487px !important;
    }

    #Entry .grid-container .second .image {
        position: relative;
        width: 340px;
        height: 251px;
    }

    #Entry .grid-container .third .image {
        position: relative;
        width: 340px;
        height: 200px;
    }

    #Entry .grid-container .fourth .image {
        position: relative;
        width: 340px;
        height: 285px;
    }

    #Entry .grid-container .fourth .image img {
        width: 340px;
        height: 387px;
    }

    #Entry .grid-container .fourth .afterContent {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 340px;
        height: 387px;
    }
}

@media only screen and (max-width: 767px) {
    #Entry .grid-container .first {
        width: 250px;
    }

    #Entry .grid-container .second {
        width: 250px;
    }

    #Entry .grid-container .third {
        height: 200px;
    }

    #Entry .grid-container .fourth {
        width: 250px;
    }

    #Entry .grid-container .third .playIcon {
        position: absolute;
        top: 33%;
        left: 38%;
    }
}

@media only screen and (max-width: 575px) {
    #Entry .grid-container .first {
        width: 268px;
    }

    #Entry .grid-container .second {
        width: 268px;
    }

    #Entry .grid-container .fourth {
        width: 268px;
    }

    #Entry .grid-container .fourth .afterContent .text {
        width: 270px;
    }
}

@media only screen and (max-width: 375px) {
    #Entry .grid-container .first {
        width: 168px;
        height: 250px;
    }

    #Entry .grid-container .first img {
        width: 168px;
        height: 250px;
    }

    #Entry .grid-container .second {
        width: 168px;
        height: 184px;
    }

    #Entry .grid-container .second img {
        width: 168px;
        height: 184px;
    }

    #Entry .grid-container .third {
        height: 135px;
    }

    #Entry .grid-container .fourth {
        width: 170px;
        height: 200px;
    }

    #Entry .grid-container .third .playIcon {
        position: absolute;
        top: 24%;
        left: 30%;
    }

    #Entry .grid-container .fourth .afterContent .text {
        width: 188px;
        position: absolute;
        top: 50px;
    }
}


/* welcoming end */


/* Upper Services start */

#UpperServices {
    background-color: rgb(245, 245, 245);
}

#UpperServices .card {
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 300px;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
}

#UpperServices .card:hover {
    background-color: #1A153A;
}

#UpperServices .card:hover .card-body {
    background-color: #1A153A;
    color: white;
}

#UpperServices .card:hover .card-body p.display-5 {
    color: white;
}

#UpperServices .card:hover .card-body p.card-text {
    color: white;
}

#UpperServices .card .icon {
    height: 67px;
    width: 67px;
    text-align: center;
    line-height: 67px;
    background-color: rgb(245, 245, 245);
    color: #1A153A;
    border-radius: 50%;
    margin-top: 35px;
}

#UpperServices .card .card-body {
    background-color: white;
    padding: 0px;
    transition: all .3s;
    max-width: 100%;
}

#UpperServices .card .card-body .card-text {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.88px;
    line-height: 26px;
    position: relative;
    z-index: 2;
    margin-bottom: 0px;
    padding: 0px 20px;
}

#UpperServices .card .card-body p.display-5 {
    color: #3B566E;
    margin-top: 30px;
}

#UpperServices .card .card-body p.card-text {
    color: #6F8BA4;
    width: 215px;
    font-size: 14px;
}

#UpperServices .animate__delay-2 {
    animation-delay: .05s;
}

#UpperServices .animate__delay-3 {
    animation-delay: .1s;
}

#UpperServices .animate__delay-4 {
    animation-delay: .15s;
}

/* Upper Services Ends */


/* Cloud Services Starts */

#CloudServices {
    background-color: #f1f3f5;
}

#CloudServices .text-left {
    margin-top: 100px;
}

#CloudServices .text-left p.header {
    font-weight: 400;
    font-size: 30px;
    color: #3B566E;
}

#CloudServices .text-left p.body {
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
}

#CloudServices .listSide a.linkList.mainActive::after {
    content: "";
    display: block;
    height: 10rem;
    width: 10rem;
    background-color: #1A153A;
    z-index: -1;
    transform: rotate(55deg) translateY(45px) translateX(-70px);
    ;
}

#CloudServices .listSide a.linkList.mainActive i {
    position: relative;
    /* margin-left: 22px;
    margin-right: 32px; */
    margin-left: 25px;
    margin-right: 37px;
    z-index: 19;
    color: white;
    visibility: visible;
}

#CloudServices .listSide a.linkList {
    line-height: 2.5rem;
    display: inline-block;
    text-decoration: none;
    height: 2.5rem;
    width: 15.9375rem;
    color: #3B566E;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    z-index: 15;
    transition: all .3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

#CloudServices .listSide a.linkList.active::after {
    content: "";
    display: block;
    height: 10rem;
    width: 10rem;
    background-color: #1A153A;
    z-index: -1;
    /* border-left: 3rem solid #1A153A;
    border-top: 3rem solid #1A153A;
    border-bottom: 3rem solid #1A153A;
    border-right: 3rem solid #1A153A; */
    transform: rotate(55deg) translateY(45px) translateX(-70px);
    ;
    transition: all .3s;
}

#CloudServices .listSide a.linkList::after {
    content: "";
    display: block;
    height: 10rem;
    width: 10rem;
    background-color: #eeedf5;
    z-index: -1;
    /* border-left: 3rem solid #1A153A;
    border-top: 3rem solid #1A153A;
    border-bottom: 3rem solid #1A153A;
    border-right: 3rem solid #1A153A; */
    transform: rotate(55deg) translateY(50px) translateX(-65px);
    ;
    transition: all .3s;
}

#CloudServices .listSide a.linkList.active i {
    position: relative;
    /* margin-left: 22px;
    margin-right: 32px; */
    margin-left: 25px;
    margin-right: 37px;
    z-index: 19;
    color: white;
    visibility: visible;
    transition: all .3s;
}

#CloudServices .listSide a.linkList i {
    position: relative;
    margin-left: 22px;
    margin-right: 32px;
    /* margin-left: 25px;
    margin-right: 37px; */
    z-index: 19;
    color: #1A153A;
    visibility: visible;
    transition: all .3s;
}

#CloudServices .image.imageRight {
    margin-top: 150px;
    margin-bottom: 150px;
}

@media only screen and (max-width: 991px) {
    #CloudServices .image.imageRight {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    #CloudServices .listSide a.linkList {
        width: 100%;
    }
}




/* Cloud Services ends */



/* Design & Development Starts */

#DesignDevelopment {
    margin-top: 120px;
}

#DesignDevelopment .image.image-right {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#DesignDevelopment .text-left {
    margin-left: 16px;
}

#DesignDevelopment .text-left p.header {
    font-weight: 400;
    font-size: 30px;
    color: #3B566E;
}

#DesignDevelopment .text-left p.body {
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
}

#DesignDevelopment .listSide a.linkList.mainActive::after {
    content: "";
    display: block;
    height: 10rem;
    width: 10rem;
    background-color: #1A153A;
    z-index: -1;
    transform: rotate(55deg) translateY(45px) translateX(-70px);
    ;
}

#DesignDevelopment .listSide a.linkList.mainActive i {
    position: relative;
    margin-left: 25px;
    margin-right: 37px;
    z-index: 19;
    color: white;
    visibility: visible;
}

#DesignDevelopment .listSide a.linkList {
    line-height: 2.5rem;
    display: inline-block;
    text-decoration: none;
    height: 2.5rem;
    width: 15.9375rem;
    color: #3B566E;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    z-index: 15;
    transition: all .3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

#DesignDevelopment .listSide a.linkList.active::after {
    content: "";
    display: block;
    height: 10rem;
    width: 10rem;
    background-color: #1A153A;
    z-index: -1;
    transform: rotate(55deg) translateY(45px) translateX(-70px);
    ;
    transition: all .3s;
}

#DesignDevelopment .listSide a.linkList::after {
    content: "";
    display: block;
    height: 10rem;
    width: 10rem;
    background-color: #eeedf5;
    z-index: -1;
    transform: rotate(55deg) translateY(50px) translateX(-65px);
    ;
    transition: all .3s;
}

#DesignDevelopment .listSide a.linkList.active i {
    position: relative;
    margin-left: 25px;
    margin-right: 37px;
    z-index: 19;
    color: white;
    visibility: visible;
    transition: all .3s;
}

#DesignDevelopment .listSide a.linkList i {
    position: relative;
    margin-left: 22px;
    margin-right: 32px;
    z-index: 19;
    color: #1A153A;
    visibility: visible;
    transition: all .3s;
}

@media only screen and (max-width: 991px) {
    #CloudServices .image.imageRight {
        margin-bottom: 70px;
        margin-top: 70px;
    }

    #DesignDevelopment {
        margin-top: 30px;
    }

    #DesignDevelopment .text-left {
        margin-top: 50px;
    }
}

/* Design & Development Ends */


/* ParallaxCounter Starts */

#ParallaxCounter {
    border: 0;
    margin: 0;
    padding-bottom: 0;
    background-image: url(../images/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 70px;
}

#ParallaxCounter .parallaxContent {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1a153ad1;
}

#ParallaxCounter .parallaxContent .text {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    position: relative;
    bottom: 0;
    transition: bottom .3s;
}

#ParallaxCounter .parallaxContent .text:hover {
    /* transform: translateY(-20px); */
    bottom: 20px;
    transition: all .3s;
}

#ParallaxCounter .parallaxContent .text p.display-4.number {
    text-align: center;
    color: white;
    width: 150px;
    font-size: 50px;
    font-weight: 500;
    /* padding-top: 80px; */
    border-bottom: 1px dashed white;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#ParallaxCounter .parallaxContent .text p.line {
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
}

/* ParallaxCounter Ends */


/* OurTeam starts */

#OurTeam {
    background-color: rgb(245, 245, 245);
    padding-top: 100px;
    padding-bottom: 150px;
}

#OurTeam .mainText {
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

#OurTeam .mainText .headerText {
    font-weight: 400;
    font-size: 28px;
    color: #3B566E;
    margin-bottom: 20px;
}

#OurTeam .mainText .bodyText {
    font-weight: 400;
    font-size: 1rem;
    color: #6F8BA4;
    /* width: 540px; */
}

#OurTeam .card {
    border: none;
    border-radius: 5px;
}

#OurTeam .card .cardBody {
    border-radius: 5px;
}

#OurTeam .card .cardBody .headerText {
    background: none;
    transition: background .5s;
}

#OurTeam .card .cardBody .headerText.active {
    background: linear-gradient(135deg, #1A153A 0%, #565178 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: background .5s;
}

#OurTeam .card .cardBody .headerText .text {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    background: linear-gradient(135deg, #1A153A 0%, #565178 100%);
    padding-top: 14px;
    padding-bottom: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .5s;
}

#OurTeam .card .cardBody .headerText .text.active {
    background: none;
    transition: all .5s;
}

#OurTeam .card .cardBody .headerText .text .name {
    margin-bottom: 0;
}

#OurTeam .card .cardBody .headerText .text .title {
    font-size: 12px;
}

#OurTeam .card .cardBody .headerText .icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#OurTeam .card .cardBody .headerText .icons ul {
    display: flex;
    padding: 0;
}

#OurTeam .card .cardBody .headerText .icons ul li {
    list-style: none;
    list-style: none;
    margin-left: 7px;
    margin-right: 7px;
}

#OurTeam .card .cardBody .headerText .icons ul li a {
    text-decoration: none;
    color: #1A153A;
    transition: all .5s;
}

#OurTeam .card .cardBody .headerText .icons ul li a.active {
    text-decoration: none;
    color: white;
    transition: all .5s;
}

#OurTeam .card .cardBody .bodyText {
    color: #6F8BA4;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

#OurTeam .card .cardImage {
    display: flex;
    justify-content: center;
}

#OurTeam .card .cardImage .image {
    margin-top: -40px;
}

#OurTeam .card .cardImage .image img {
    border-radius: 50%;
    transform: translateY(45px);
    transition: all .5s;
}

#OurTeam .card .cardImage .image img.active {
    border-radius: 50%;
    transform: translateY(60px);
    transition: all .5s;
}

@media only screen and (max-width: 991px) {
    #OurTeam {
        padding-bottom: 0;
    }

    #OurTeam .card {
        margin-bottom: 100px;
    }
}


/* OurTeam ends */


/* Pricing Plans starts */

#PricingPlans {
    background-color: #ededee;
    padding-bottom: 80px;
}

#PricingPlans .animate__delay-2 {
    animation-delay: .1s;
}

#PricingPlans .animate__delay-3 {
    animation-delay: .2s;
}

#PricingPlans .row.text-center p {
    color: #6F8BA4;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

#PricingPlans .row.text-center p.display-4 {
    padding-top: 100px;
    color: #3B566E;
    font-size: 28px;
    font-weight: 400;
}

#PricingPlans .card {
    border-radius: 9px;
    border: none;
}

#PricingPlans .card .cardHeader p.display-4.plan {
    font-weight: 700;
    font-size: 16px;
    color: #3B566E;
    padding-top: 55px;
    padding-bottom: 55px;
}

#PricingPlans .card .cardHeader p.display-4.plan.active {
    background-image: linear-gradient(135deg, #1A153A 0%, #565178 100%);
    color: white;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#PricingPlans .card span.number {
    position: relative;
    bottom: 38px;
    left: 152px;
    height: 45px;
    width: 45px;
    line-height: 42px;
    border-radius: 50%;
    background-color: #F7FAFD;
}

#PricingPlans .card .cardBody .mainPrice span.price {
    color: #1A153A;
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 10px;
}

#PricingPlans .card .cardBody .mainPrice span.currency {
    font-weight: 600;
    font-size: 20px;
    color: #1A153A;
    /* transform: translateY(-10px); */
    position: relative;
    bottom: 17px;
    left: -5px;
}

#PricingPlans .card .cardBody .mainPrice small.month {
    font-weight: 500;
    font-size: 14px;
    color: #1A153A;
    padding-left: 5px;
}

#PricingPlans .card .cardBody .mainPrice {
    margin-bottom: 30px;
}

#PricingPlans .card .cardBody ul {
    padding-left: 0;
}

#PricingPlans .card .cardBody ul li {
    list-style: none;
    margin-bottom: 12px;
    color: #3B566E;
    font-weight: 400;
    font-size: 15px;
}

#PricingPlans .card .cardBody ul li.active {
    list-style: none;
    margin-bottom: 12px;
    color: #CCDCEA;
    font-weight: 400;
    font-size: 15px;
    text-decoration: line-through;
}

#PricingPlans .card .cardBody a.btn {
    color: white;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 12px;
    background-color: #1A153A;
    margin-top: 25px;
    margin-bottom: 40px;
}

#PricingPlans .card .cardBody a.btn:hover {
    background-color: #120e27;
}

#PricingPlans .card .cardBody a.btn:focus {
    box-shadow: none;
}

@media only screen and (max-width: 1199px) {
    #PricingPlans .card span.number {
        left: 122px;
    }
}

@media only screen and (max-width: 991px) {
    #PricingPlans .container .row {
        justify-content: center;
    }

    #PricingPlans .container .row .card {
        margin-top: 30px;
    }

    #PricingPlans .card span.number {
        left: 142px;
    }
}

@media only screen and (max-width: 767px) {
    #PricingPlans .card span.number {
        left: 232px;
    }
}

@media only screen and (max-width: 575px) {
    #PricingPlans .card span.number {
        left: 250px;
    }
}

@media only screen and (max-width: 375px) {
    #PricingPlans .card span.number {
        left: 150px;
    }
}

/* Pricing Plans ends */



/* RegularParallax starts */

#RegularParallax {
    border: 0;
    margin: 0;
    padding-bottom: 0;
    background-image: url(../images/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#RegularParallax .parallaxContent {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1a153a93;
}

#RegularParallax .parallaxContent .text p.display-4 {
    color: white;
    margin-bottom: 40px;
    font-size: 22px;
    padding-top: 80px;
    padding-bottom: 40px;
}

#RegularParallax .parallaxContent .parallaxButton a {
    color: #1A153A;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 12px;
    background-color: white;
    margin-bottom: 80px;
}

#RegularParallax .parallaxContent .parallaxButton a:focus {
    box-shadow: none;
}

@media only screen and (max-width: 991px) {
    #ParallaxCounter .parallaxContent .text {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

/* RegularParallax ends */


/* Latest Blogpost Starts */

#LatestBlogPosts {
    padding-bottom: 5rem;
}

#LatestBlogPosts .blogHeader {
    font-size: 1.75rem;
    font-weight: 400;
    color: #3B566E;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
}

#LatestBlogPosts .blogText {
    font-size: 16;
    line-height: 28px;
    font-weight: 400;
    color: #6F8BA4;
    text-align: center;
    margin-bottom: 2.875rem;
}

#LatestBlogPosts .card {
    border: none;
}

#LatestBlogPosts .card img {
    width: 351px;
    height: 220px;
    border-radius: 0.3125rem;
    align-self: center;
    object-fit: cover;
}

#LatestBlogPosts .card .card-body a {
    color: white;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 12px;
    background-color: #1A153A;
}

#LatestBlogPosts .card .card-body a:hover {
    background-color: #120e27;
}

#LatestBlogPosts .card .card-body a:focus {
    box-shadow: none;
}

#LatestBlogPosts .card .card-body h5 {
    font-size: 1rem;
    font-weight: 500;
}

#LatestBlogPosts .card .card-body p {
    font-size: 0.875rem;
}

@media only screen and (max-width: 991px) {
    #LatestBlogPosts .justifyMedia {
        justify-content: center;
    }

    #LatestBlogPosts .card {
        padding-top: 0.625rem;
    }
}

@media only screen and (max-width: 767) {
    #LatestBlogPosts .card {
        padding-top: 2rem;
    }
}

/* Latest Blogpost Ends */




/* Footer Starts */

#Footer {
    background-color: #1A153A;
    color: white;
    font-size: 0.875rem;
}

#Footer .row {
    padding-top: 4.375rem;
}

#Footer .widthUnset{
    width: unset;
    margin-left: 0;
}

#Footer .image img {
    margin-bottom: 1.875rem;
}

#Footer .footer-text p {
    margin: 0;
}

#Footer .links ul {
    padding: 0;
}

#Footer .links ul li {
    list-style-type: none;
}

#Footer .links ul li a {
    text-decoration: none;
    color: white;
}

#Footer .links ul li a span {
    transition: all .4s;
}

#Footer .links ul li a:hover span {
    padding-left: 5px;
}

#Footer h5 {
    margin-bottom: 1.857rem;
}

#Footer .links ul li a i {
    margin-right: .7rem;
}

#Footer .contacting p {
    margin-bottom: 10px;
}

#Footer .contacting ul {
    padding: 0;
    display: flex;
}

#Footer .contacting ul li {
    list-style-type: none;
    padding-right: 1rem;
    font-size: .8rem;
}

#Footer .contacting ul li a {
    text-decoration: none;
    color: white;
}

#Footer .endingFooter {
    border-top: .5px solid rgba(71, 71, 71, 0.815);
    padding-top: 30px;
}

@media only screen and (max-width: 991px) {
    #Footer h5 {
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    #Footer .row {
        justify-content: center;
    }
}

@media only screen and (max-width: 375px) {
    #Footer .widthUnset.leftSide{
        transform: translateX(-40px);
    }
}

/* Footer Ends */




/* About Us Page Start */

/* ParallaxEntry Starts */

#ParallaxEntry {
    border: 0;
    padding-bottom: 0;
    margin: 0;
    background-image: url(../images/parallax-cover.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 100px;
}

#ParallaxEntry .parallaxContent {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(127deg, #1a153ab0 0%, #5651789e 91%);
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
}

#ParallaxEntry .parallaxContent .mainText p.display-4 {
    font-weight: 400;
    font-size: 36px;
    height: 50px;
    line-height: 46px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    position: relative;
}

#ParallaxEntry .parallaxContent .mainText p.display-4::after {
    content: "";
    width: 20px;
    height: 3px;
    color: white;
    background-color: white;
    display: inline-block;
    transform: translate(-90px, 15px);
}

#ParallaxEntry .parallaxContent .breadcrumbs ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

#ParallaxEntry .parallaxContent .breadcrumbs ul li {
    list-style-type: none;
    margin-right: 10px;
    color: white;
}

#ParallaxEntry .parallaxContent .breadcrumbs ul li a {
    text-decoration: none;
    color: white;
}

/* ParallaxEntry Ends */

/* AboutUsEntry Starts */

#AboutUsEntry {
    text-align: center;
    padding-top: 100px;
    background-color: #f5f5f5;
}

#AboutUsEntry p.bodyText {
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

#AboutUsEntry .mainText p.display-4 {
    font-weight: 400;
    font-size: 28px;
    color: #3B566E;
    line-height: 38px;
    margin-bottom: 20px;
}

/* AboutUsEntry Ends */


/* OurMission Starts */

#OurMission {
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

#OurMission .mainContent {
    width: 100%;
    position: relative;
}

#OurMission .mainContent .imageLeft {
    width: 778px;
    height: 518px;
    overflow: hidden;
    border-radius: 7px;
}

#OurMission .mainContent .imageLeft img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    transition: transform .3s;
}

#OurMission .mainContent .imageLeft img:hover {
    transform: scale(1.1);
}

#OurMission .mainContent .textRight {
    position: absolute;
    top: 13%;
    right: 0%;
    display: inline-block;
    width: 40%;
    background-color: white;
    padding: 20px 40px;
    /* transform: translate(675px, -472px); */
    border-radius: 5px;
}

#OurMission .mainContent .textRight p.display-4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 1.75px;
    color: #3B566E;
    margin-bottom: 20px;
}

#OurMission .mainContent .textRight p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #6F8BA4;
}

@media only screen and (max-width: 1199px) {
    #OurMission .mainContent .textRight {
        top: 6%;
    }
}

@media only screen and (max-width: 991px) {
    #OurMission .mainContent .textRight {
        margin-top: 40px;
        position: unset;
        width: 100%;
    }

    #OurMission .mainContent .imageLeft {
        width: 100%;
        height: 100%;
        /* overflow: hidden;
        border-radius: 7px; */
    }
}

/* OurMission Ends */


/* OurVision Starts */
#OurVision {
    background-color: #f5f5f5;
    padding-bottom: 100px;
    padding-top: 100px;
}

#OurVision .mainContent {
    width: 100%;
    position: relative;
}

#OurVision .mainContent .imageRight {
    width: 778px;
    height: 518px;
    overflow: hidden;
    border-radius: 7px;
    float: right;
}

#OurVision .mainContent .imageRight img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    transition: transform .3s;
}

#OurVision .mainContent .imageRight img:hover {
    transform: scale(1.1);
}

#OurVision .mainContent .textLeft {
    position: absolute;
    top: 0%;
    left: 0%;
    display: inline-block;
    width: 40%;
    background-color: white;
    padding: 20px 40px;
    transform: translate(0px, 70px);
    border-radius: 5px;
}

#OurVision .mainContent .textLeft p.display-4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 1.75px;
    color: #3B566E;
    margin-bottom: 20px;
}

#OurVision .mainContent .textLeft p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #6F8BA4;
}

@media only screen and (max-width: 1199px) {
    #OurVision .mainContent .textLeft {
        transform: translate(0px, 35px);
    }
}

@media only screen and (max-width: 991px) {
    #OurVision .mainContent .textLeft {
        position: unset;
        width: 100%;
    }

    #OurVision .mainContent .imageRight {
        width: 100%;
        height: 100%;
        /* overflow: hidden;
        border-radius: 7px; */
    }
}


/* OurVision Ends */

/* About Us Page Ends */




/*Features Page Starts */

/* FeaturesEntry Starts */

#FeaturesEntry {
    background-color: #F7FAFD;
    padding-top: 100px;
    padding-bottom: 100px;
}

#FeaturesEntry a {
    text-decoration: none;
}

#FeaturesEntry .service {
    background-color: white;
    padding: 40px 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
}

#FeaturesEntry .service .iconLeft .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 133px;
    width: 133px;
    position: relative;
    margin-right: 40px;
}

#FeaturesEntry .service .iconLeft .image::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F7FAFD;
    border-radius: 5px;
    transition: transform .3s;
}

#FeaturesEntry .service:hover .iconLeft .image::after {
    transform: rotate(45deg);
}

#FeaturesEntry .service .iconLeft .image img {
    z-index: 5;
}

#FeaturesEntry .service .iconLeft .image img {
    background-color: #f5f5f5;
    object-fit: cover;
}

#FeaturesEntry .service .textRight p.display-4 {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #3B566E;
    margin-bottom: 15px;
    letter-spacing: 0.80px;
}

#FeaturesEntry .service .textRight p.textBody {
    margin-bottom: 0px !important;
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    line-height: 26px !important;
    letter-spacing: .88px !important
}

@media only screen and (max-width: 1024px){
    #FeaturesEntry .service .iconLeft {
        height: 134px;
        margin-top: 20px;
    }

    #FeaturesEntry .service {
        padding: 40px 15px;
    }

    #FeaturesEntry .service .iconLeft .image{
        margin-right: 30;
    }
}

@media only screen and (max-width: 812px){
    #FeaturesEntry .service .iconLeft {
        height: 134px;
    }

    #FeaturesEntry .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px;
        text-align: center;
    }

    #FeaturesEntry .service .iconLeft .image{
        margin-right: 0;
    }

    #FeaturesEntry .service .textRight p.display-4 {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 375px){
    #FeaturesEntry .service .iconLeft {
        height: 134px;
    }

    #FeaturesEntry .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px;
        text-align: center;
    }

    #FeaturesEntry .service .iconLeft .image{
        margin-right: 0;
    }

    #FeaturesEntry .service .textRight p.display-4 {
        margin-top: 45px;
    }
}

/* FeaturesEntry Starts */

/* Features Page Ends */

/* Faqs Page Starts */

/* Parallax Starts */

#ParallaxEntry .parallaxContent .mainText .faqsAfter:after {
    transform: translate(-60px, 15px) !important;
}

/* Parallax Ends */

/* Questions Starts */

#Questions {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F7FAFD;
}

#Questions .faqTextLeft .faqHeader p.display-4 {
    font-weight: 400;
    font-size: 30px;
    color: #1A153A;
    letter-spacing: 1.88px;
    margin-bottom: 20px;
}

#Questions .faqTextLeft .faqBody p {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.88px;
    line-height: 28px;
    color: #6F8BA4;
}

#Questions .faqTextLeft .faqBody a {
    color: white;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    background-color: #1A153A;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 12px;
    letter-spacing: 0.75px;
}

#Questions .faqTextLeft .faqBody a:hover {
    background-color: #120e27;
}

#Questions .faqTextRight {
    background: white;
}

#Questions .faqTextRight {
    border-radius: 5px;
}

#Questions .faqTextRight .accordionHeader .headerText {
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 20px 25px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3B566E;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#Questions .faqTextRight .accordionBody {
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 30px 35px;
    color: #6F8BA4;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .88px;
    line-height: 28px;
    display: none;
}

#Questions .faqTextRight .accordionBody.active {
    display: block;
}

@media only screen and (max-width: 991px) {
    #Questions .faqTextLeft .faqBody a {
        margin-bottom: 50px;
    }
}

/* Question Ends */

/* Faqs Page Ends */


/* Blog Page Starts */

/* Parallax starts */
#ParallaxEntry .parallaxContent .mainText .blogAfter:after {
    transform: translate(-50px, 15px) !important;
}

/* Parallax ends */

/* BlogEntry starts */
#BlogEntry {
    background-color: #f1f3f5;
    padding-top: 50px;
    padding-bottom: 50px;
}

#BlogEntry .mainContent {
    background-color: white;
    border-radius: 5px;
}

#BlogEntry .mainContent .image {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#BlogEntry .mainContent .image .imageDate {
    position: absolute;
    bottom: -15px;
    left: 313px;
    z-index: 1;
    color: white;
    background: #000;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: .3;
    padding: 5px 25px;
}


#BlogEntry .mainContent .image img {
    width: 730px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#BlogEntry .mainContent .contentBody ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#BlogEntry .mainContent .contentBody ul li {
    list-style: none;
    margin-left: 30px;
    margin-right: 25px;
}

#BlogEntry .mainContent .contentBody ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #1A153A;
}

#BlogEntry .mainContent .contentBody ul li a i {
    margin-right: 7px;
}

#BlogEntry .mainContent .contentBody .headerLine {
    display: flex;
    justify-content: center;
}

#BlogEntry .mainContent .contentBody .headerLine a.display-4 {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    letter-spacing: 1px;
    line-height: 26px;
}

#BlogEntry .mainContent .contentBody .contentText {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#BlogEntry .mainContent .contentBody .contentText p {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.88px;
    line-height: 26px;
    margin-bottom: 15px;
    padding: 0px 35px;
    margin: 20px 0px;
}

#BlogEntry .mainContent .contentBody .contentButton {
    display: flex;
    justify-content: center;
    padding: 10px 0px 60px 0px;
}

#BlogEntry .mainContent .contentBody .contentButton a {
    color: white;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    background-color: #1A153A;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 12px;
    letter-spacing: 0.75px;
}

#BlogEntry .mainContent .contentBody .contentButton a:hover {
    background-color: #120e27;
}


#BlogEntry .bottomSide .mainContent {
    background-color: white;
    border-radius: 5px;
}

#BlogEntry .bottomSide .mainContent .image {
    max-width: 100%;
    max-height: 200px;
    position: relative;
}

#BlogEntry .bottomSide .mainContent .image .imageDate {
    position: absolute;
    bottom: -15px;
    left: 122px;
    z-index: 1;
    color: white;
    background: #000;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: .3;
    padding: 5px 25px;
}


#BlogEntry .bottomSide .mainContent .image img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#BlogEntry .bottomSide .mainContent .contentBody ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#BlogEntry .bottomSide .mainContent .contentBody ul li {
    list-style: none;
    margin-left: 30px;
    margin-right: 25px;
}

#BlogEntry .bottomSide .mainContent .contentBody ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #1A153A;
}

#BlogEntry .bottomSide .mainContent .contentBody ul li a i {
    margin-right: 7px;
}

#BlogEntry .bottomSide .mainContent .contentBody .headerLine {
    display: flex;
    justify-content: center;
}

#BlogEntry .bottomSide .mainContent .contentBody .headerLine a.display-4 {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 0px 20px;
    text-align: center;
}

#BlogEntry .bottomSide .mainContent .contentBody .contentText {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#BlogEntry .bottomSide .mainContent .contentBody .contentText p {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.88px;
    line-height: 26px;
    margin-bottom: 15px;
    padding: 0px 35px;
    margin: 20px 0px;
}

#BlogEntry .bottomSide .mainContent .contentBody .contentButton {
    display: flex;
    justify-content: center;
    padding: 10px 0px 40px 0px;
}

#BlogEntry .bottomSide .mainContent .contentBody .contentButton a {
    color: white;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    background-color: #1A153A;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 12px;
    letter-spacing: 0.75px;
}

#BlogEntry .bottomSide .mainContent .contentBody .contentButton a:hover {
    background-color: #120e27;
}

#BlogEntry .searchBar {
    margin-bottom: 30px;
}

#BlogEntry .searchBar .form {
    position: relative;
}

#BlogEntry .searchBar .form input {
    border: none;
    height: 50px;
    transition: all .4s;
    padding-left: 20px;
    padding-bottom: 8px;
}

#BlogEntry .searchBar .form input:focus {
    padding-left: 30px;
    box-shadow: none;
    border: 1px solid #1A153A;
}

#BlogEntry .searchBar .form button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    right: 12px;
    background: linear-gradient(127deg, #1A153A 0%, #565178 91%);
    color: white;
    width: 35px;
    height: 35px;
}

#BlogEntry .searchBar .form button:focus {
    box-shadow: none;
    z-index: 3;
}

#BlogEntry .sideBar ul{
    padding-left: 0;
}

#BlogEntry .sideBar ul li{
    list-style: none;
}

#BlogEntry .sideBar ul li:first-of-type a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#BlogEntry .sideBar ul li:last-of-type a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#BlogEntry .sideBar ul li a{
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ECF7FF;
    height: 50px;
    line-height: 50px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    color: #3B566E;
    letter-spacing: 0.88px;
    background-color: white;
    padding-left: 25px;
}

#BlogEntry .sideBar ul li a i{
    padding-right: 25px;
    transition: padding .3s;
}

#BlogEntry .sideBar ul li a:hover i{
    padding-right: 35px;
}

#BlogEntry .sideBar ul li a span{
    text-align: center;
    float: right;
    margin-right: 10px;
    background-color: #1A153A;
    color: white;
    height: 25px;
    width: 40px;
    line-height: 20px;
    margin-top: 12px;
}

#BlogEntry .widgetTags{
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 25px;
    width: 100%;
    padding: 31px 25px;
}

#BlogEntry .widgetTags a{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #f1f3f5;
    color: #3B566E;
    font-weight: 400;
    font-size: 15px;
    border-radius: 4px;
    transition: all 0.3s;
}

#BlogEntry .widgetTags a:hover{
    color: white;
    background-color: #1A153A;
}

#BlogEntry .contactUs .image{
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

#BlogEntry .contactUs .image .content{
    position: absolute;
    background-image: linear-gradient(135deg, #1A153A 0%, #565178 100%);
    z-index: 2;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    opacity: .85;
    text-align: center;
}

#BlogEntry .contactUs .image .content p{
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.12px;
    padding: 25px 30px;
}

#BlogEntry .contactUs .image .content a{
    color: #1A153A;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    background-color: white;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 12px;
    letter-spacing: 0.75px;
}

#BlogEntry .contactUs .image img{
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media only screen and (max-width: 1024px){
    #BlogEntry .mainContent .image p.imageDate{
        position: absolute;
        left: 95px !important;
    }

    #BlogEntry .mainContent .image p.imageDate.mainPost{
        position: absolute;
        left: 253px !important;
    }

    #BlogEntry .contactUs .image .content p {
        padding: 25px 30px 0px 30px;
    }
}

@media only screen and (max-width: 768px){
    #BlogEntry .mainContent .image p.imageDate{
        position: absolute;
        left: 112px !important;
    }

    #BlogEntry .mainContent .image p.imageDate.mainPost{
        position: absolute;
        left: 294px !important;
    }

    #BlogEntry .contactUs .image .content p {
        /* padding: 25px 30px 0px 30px; */
        margin-top: 130px;
    }

    #BlogEntry .contactUs .image .content a {
        /* padding: 25px 30px 0px 30px; */
        margin-top: 50px;
    }
}

@media only screen and (max-width: 375px){
    #BlogEntry .mainContent .image p.imageDate.mainPost{
        position: absolute;
        left: 121px !important;
    }

    #BlogEntry .mainContent .image p.imageDate{
        position: absolute;
        left: 121px !important;
    }

    #BlogEntry .contactUs .image .content p {
        margin-top: 0;
    }
}
    /* BlogEntry ends */


    /* Pagination Starts */

#Pagination{
    background-color: #f1f3f5;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#Pagination .pagination .page-item a{
    text-decoration: none;
    color: #1A153A;
}
    /* Pagination Ends */


/* Blog Page Ends */



/* Contact Starts */
    /* Parallax starts */

#ParallaxEntry .parallaxContent .mainText p.contact:after {
    transform: translate(-75px, 15px) !important;
}

    /* Map Starts */
#MapPart{
    background-color: #f1f3f5;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 5px;
}

#MapPart .mapDivSizing{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

#MapPart .mapDivSizing .mapouter{
    max-width: 100%;
    border-radius: 5px;
}

#MapPart .mapDivSizing .borderRadius #gmap_canvas{
    border-radius: 5px;
}

#MapPart .contactInfo .bottomCard{
    background: linear-gradient(135deg, #1A153A 0%, #565178 100%);
    color: white;
    border-radius: 5px;
    padding: 40px 10px 0px 10px;
    transform: translateY(-80px);
}

#MapPart .contactInfo .bottomCard .item{
    display: flex;
    justify-content: center;
}

#MapPart .contactInfo .bottomCard .item .text{
    display: flex;
    justify-content: center;
}

#MapPart .contactInfo .bottomCard .item .text.columnDiv{
    flex-direction: column
}

#MapPart .contactInfo .bottomCard .item .text i{
    margin-right: 20px;
    margin-top: 8px;
    margin-left: 15px;
}

#MapPart .contactInfo .bottomCard .item .text p.mailing{
    margin-bottom: 0;
    display: flex;
    justify-content: left;
}

#MapPart .contactInfo .bottomCard .item .text p.mailing i{
    margin-right: 10px;
}

#MapPart .contactInfo .icons ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
}

#MapPart .contactInfo .icons ul li{
    list-style-type: none;
    margin: 25px 12px;
}

#MapPart .contactInfo .icons ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

#MapPart .contactInfo .contactBottom p.display-4{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.88px;
    line-height: 28px;
    color: #6F8BA4;
}

#MapPart .contactInfo .contactBottom p.mainText{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
    line-height: 28px;
    color: #6F8BA4;
}

#MapPart .contactInfo .contactBottom form input{
    height: 50px;
    padding-left: 20px;
    transition: all .4s;
}

#MapPart .contactInfo .contactBottom form input:focus{
    padding-left: 30px;
    box-shadow: none;
    border: 1px solid #1A153A;
}

#MapPart .contactInfo .contactBottom form textarea{
    padding-left: 20px;
    transition: all .4s;
    margin-top: 40px;
}

#MapPart .contactInfo .contactBottom form textarea:focus{
    padding-left: 30px;
    box-shadow: none;
    border: 1px solid #1A153A;
}

#MapPart .contactInfo .contactBottom form button{
    padding: 10px 10px;
    width: 160px;
    display: inline-block;
    height: 44px;
    line-height: 25px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: #1A153A;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 12px;
    color: white;
    letter-spacing: 0.75px;
    transition: all 0.3s ease 0s;
    outline: none !important;
    cursor: pointer;
}

@media only screen and (max-width:375px){
    #MapPart .contactInfo .bottomCard .item.shouldLeft{
        margin-left: -137px;
    }

    #MapPart .contactInfo .bottomCard .item.little-left{
        margin-left: -76px;
    }

    #MapPart .contactInfo .bottomCard .item.little-left .text p i{
        margin-right: 20px;
    }
}


@media screen and (max-width: 380px){
    .navbarHoverBlock{
        display: block !important;
    }

    .tttt{
        display: block !important;
    }
}



    /* Map Ends */

    /* Parallaw ends */
/* Contact Ends */